body{
	background-color: #232323;
	margin: 0;
	font-family:"Avenir", "Montserrat";
}
h1{
	color: white;
	background-color: steelblue;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 0;
	line-height: 1.1;
}

.container{
	max-width: 600px;
	margin: 20px auto;
}
#stripe{
	background-color: white;
	color: black;
	height: 30px;
	text-align: center;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background 0.6s;
	border-radius: 20%;
}
#status{
	display: inline-block;
	width:20%;
}

.selected{
	background-color: steelblue;
	color: white;
}
#rgbheading{
	font-size: 150%;
}
button{
	border: none;
	color: steelblue;
	font-size: inherit;
	letter-spacing: 1px;
	font-weight: 700;
	background :none;
	height: 100%;
	transition: all 0.3s;
	outline: none;
}
button:hover{
	background-color: steelblue;
	color: white;
}